<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if form.errors %}
        {% for error in errors %}
            ㄴㄴ
            {{ error }}
        {% endfor %}
    {% endif %}

    {{ request.user }}
    {{ request.user.is_anonymous }}
    <form method="POST" action="{% url 'accounts:login' %}" role="form">
        {% csrf_token %}
        <input name="email" type="email" required>
        <input name="password" type="password" required>
        <button type="submit" >이메일로 로그인</button>
    </form>
</body>
</html>