{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>로그인 | Portfolium</title>
{% endblock %}

{% block content %}
    <div class="login-wrapper ">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="{% static 'assets/img/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg' %}" data-src="{% static 'assets/img/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg' %}" data-src-retina="{% static 'assets/img/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg' %}" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">
            당신의 <b>브랜드</b>를 표현하세요
            </h2>
          <p class="small">
            <b>Portfolium</b>은 당신의 프로필, 프로젝트 활동를 <b>커리어 포트폴리오로 구축</b>할 수 있는 도구이며, <br>
            이를 <b>당신만의 브랜드 사이트</b>, <b>이력서</b>로 나타낼 수 있도록 도와줍니다.
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <img src="{%  static 'assets/img/logo_blue_2x.png' %}" alt="logo" data-src="{%  static 'assets/img/logo_blue.png' %}" data-src-retina="{%  static 'assets/img/logo_blue_2x.png' %}" height="22">
          <p class="p-t-35">당신의 브랜드를 시작합니다.</p>
          <!-- START Login Form -->
          <form method="POST" id="form-login" class="p-t-15" role="form">
            {% csrf_token %}
            <div class="form-group form-group-default">
              <label>Login</label>
              <div class="controls">
                <input type="email" name="email" placeholder="Email" class="form-control" required>
              </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Password</label>
              <div class="controls">
                <input type="password" class="form-control" name="password" placeholder="Credentials" required>
              </div>
            </div>
            <!-- START Form Control-->
            <div class="row">
              <div class="col-md-6 no-padding sm-p-l-10">
                <div class="checkbox ">
                  <input type="checkbox" value="1" id="checkbox1">
                  <label for="checkbox1">아이디 저장</label>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-end">
                <a href="{% url 'accounts:password_change' %}" class="text-info small">비밀번호 찾기</a>
              </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-primary btn-cons m-t-10" type="submit">로그인</button>
          </form>
          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
              <div class="col-sm-3 col-md-2 no-padding">
<!--                <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">-->
              </div>
              <div class="col-sm-9 no-padding m-t-10">
                <p>
                  <small>
									아직 회원가입을 하지 않았나요? 간단한 회원가입으로 당신의 브랜드를 구축해 보세요! &nbsp;
									<a href="{% url 'accounts:signup' %}" class="text-info">회원가입</a>
								</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Login Right Container-->
    </div>
{% endblock %}

