{% block title %}사용자 비밀번호 변경{% endblock %}

{% block content %}
    {% if form.errors %}
        <p> 비밀번호가 잘못 되었습니다 다시 시도하세요</p>
    {% endif %}
    <form method="post" action=".">
    {% csrf_token %}
        <p>{{form.old_password.errors}}
        <label for="old_password">기존 비밀번호</label>{{form.old_password}}</p>
        <p>{{form.old_password.errors}}
        <label for="new_password1">새 비밀번호</label>{{form.new_password1}}</p>
        <p>{{form.old_password.errors}}
        <label for="new_password2">새 비밀번호 확인</label>{{form.new_password2}}</p>
        <button type="submit">비밀번호 변경</button>
    </form>
{% endblock %}
