




{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>비밀번호 변경 | Portfolium</title>
{% endblock %}

{% block content %}
    <div class="register-container full-height sm-p-t-30">
      <div class="d-flex justify-content-center flex-column full-height ">
        <img src="{% static 'assets/img/logo_blue.png' %}" alt="logo" data-src="{% static 'assets/img/logo_blue.png' %}" data-src-retina="{% static 'assets/img/logo_blue_2x.png' %}" width="127" height="22">

        <p>
        </p>
          비밀번호 면경 문구
        <form method="POST" id="form-register" class="p-t-15" role="form">
            {% csrf_token %}
            <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>기존 비밀번호</label>
                  {{form.old_password}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>새 비밀번호</label>
                  {{form.new_password1}}
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Password</label>
                  {{form.new_password2}}

              </div>
            </div>
              </div>

          <div class="row m-t-10">
            <div class="col-lg-6">
            {# TODO: term 작성, 선택하도록 #}
              <p><small>회원가입과 동시에 <a href="#" class="text-info">Portfolium 약관</a>과 &nbsp;<a href="#" class="text-info">Privacy</a>을 읽고 약관에 동합니다.</small></p>
            </div>
          </div>
          <button class="btn btn-primary btn-cons m-t-10" type="submit">회원가입하기</button>
        </form>
      </div>
    </div>
    <div class=" full-width">
      <div class="register-container m-b-10 clearfix">
        <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up">
          <div class="col-md-2 no-padding d-flex align-items-center">
            <img src="assets/img/demo/pages_icon.png" alt="" class="" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" width="60" height="60">
          </div>
          <div class="col-md-9 no-padding d-flex align-items-center">
            <p class="hinted-text small inline sm-p-t-10">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

