{% load staticfiles %}
                <div class="activity-content-header">
                  <div class="upper-header">
                      <p class="datetime m-b-15"><span>포트폴리오 > 카테고리</span></p>
                    <!-- editable -->
                    <div class="title">
                        <p class="bold">제목을 입력하시오.</p>
                    </div>

                    <p class="datetime m-t-15 ">
                        <span class="projected">17.08.03~17.08.04 </span>
                        <span class="updated">1시간전에 업데이트됨</span>
                  </p>

                  </div>
                  <div class="clearfix"></div>
                  <div class="abstract m-t-15 m-b-20 semi-bold">
                      <p>
                          150자 요약 들어가는 곳. 여기도 에디터를 사용하나? 이 글은 정확히 150자임. 공백을 포함아였음. 150자 요약 들어가는 곳. 여기도 에디터를 사용하나? 이 글은 정확히 150자임. 공백을 포함아였음. 150자 요약 들어가는 곳. 여기도 에디터를 사용하나? 이 글
                          </p>
                    </div>

                </div>
                <div class="clearfix"></div>
