{% extends 'portfolio/base.html' %}
{% load staticfiles %}


{% block content-wrapper %}
    <div class="split-view">
              <!-- START SPLIT LIST VIEW -->
              <div class="split-list">
                <!-- 새로고침 버튼 -->
<!--                <a class="list-refresh" href="#"><i class="fa fa-refresh"></i></a>-->
                <!-- 왼쪽 리스트 뷰 -->
                <div class="boreded no-top-border list-view">
                    <h2 class="list-view-fake-header">프로필</h2>
                    <div class="list-view-wrapper">
                        <!-- 탭단위 list-profile -->
                        <div class="list-view-group-container list-profile">
                            <div class="list-view-group-header">
                                <span>프로필</span>
                            </div>
                            <ul class="no-padding">
                                <!-- 액티비티 단위 -->
                                <li class="item padding-15 active link" onclick="goProfile()">
                                    <div class="thumbnail-wrapper d32 circular">
                                        <img width="40" height="40" alt="" data-src-retina="{% static 'assets/img/profiles/avatar2x.jpg' %}" data-src="{% static 'assets/img/profiles/avatar.jpg' %}" src="{% static 'assets/img/profiles/avatar2x.jpg' %}">
                                    </div>
                                    <!-- picutre / normal -->
                                    <div class="inline m-l-15 picture">
{#                                        <p class="recipients no-margin hint-text small">{{ portfolio.profile.name }}</p>#}
                                        <p class="recipients no-margin hint-text small">{{ portfolio.account }}</p>
{#                                        <p class="recipients no-margin hint-text small">{{ profile }}</p>#}

                                        <p class="subject no-margin"> {{ profile.introduction.introduction }} </p>
                                        <p class="body no-margin">
                                            {{ profile.occupation.occupation }}&nbsp;&nbsp;/&nbsp;&nbsp;

                                            {% for keyword_content in profile.interest_keyword %}
                                                <span class="tag">#&nbsp;{{ keyword_content.interest_keyword }}</span>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <!-- <div class="datetime">5 Mins ago</div> -->
                                    <div class="clearfix">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 탭단위 list-activity -->
{#                        <div class="list-view-group-container list-activity">#}
{#                            <div class="list-view-group-header">#}
{#                                <span>경력사항</span>#}
{#                                <a class="list-refresh" href="#">#}
{#                                    &nbsp;액티비티 <i class="fa fa-plus"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                            <ul class="no-padding">#}
{#                                <!-- 액티비티 단위 -->#}
{#                                <li class="item padding-15 active">#}
{#                                    <!-- picutre / normal -->#}
{#                                    <div class="inline m-l-15 normal">#}
{#                                        <p class="recipients no-margin hint-text small">2018.08.19</p>#}
{#                                        <p class="subject no-margin">activity.title - 최대 1줄 activity.title - 최대 1줄 activity.title - 최대 1줄</p>#}
{#                                        <p class="body no-margin">                          요약내용이 들어감 최대 2줄.    요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    <div class="clearfix">#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="item padding-15 active">#}
{#                                    <!-- picutre / normal -->#}
{#                                    <div class="inline m-l-15 normal">#}
{#                                        <p class="recipients no-margin hint-text small">2018.08.19</p>#}
{#                                        <p class="subject no-margin">activity.title - 최대 1줄 activity.title - 최대 1줄 activity.title - 최대 1줄</p>#}
{#                                        <p class="body no-margin">                          요약내용이 들어감 최대 2줄.    요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    <div class="clearfix">#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="item padding-15 active">#}
{#                                    <!-- picutre / normal -->#}
{#                                    <div class="inline m-l-15 normal">#}
{#                                        <p class="recipients no-margin hint-text small">2018.08.19</p>#}
{#                                        <p class="subject no-margin">activity.title - 최대 1줄 activity.title - 최대 1줄 activity.title - 최대 1줄</p>#}
{#                                        <p class="body no-margin">                          요약내용이 들어감 최대 2줄.    요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄   요약내용이 들어감 최대 2줄#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    <div class="clearfix">#}
{#                                    </div>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}

                        {% for tab in portfolio.get_all_tabs %}
                            <div class="list-view-group-container list-activity">
                                    <div class="list-view-group-header link" onclick="goTab({{ tab.id }})">
                                        <span>{{ tab.title }}</span>
                                        <a class="list-refresh" href="{% url 'portfolios:activity_create' tab.id %}">
                                            &nbsp;액티비티 <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                            <ul class="no-padding">
                                <!-- 액티비티 단위 -->
                                {% for activity in tab.get_all_activities %}
                                <li class="item padding-15 active link" onclick="goActivity({{ activity.id }})">
                                    <!-- picutre / normal -->
                                    <div class="inline m-l-15 normal">
                                        <p class="recipients no-margin hint-text small">2018.08.19</p>
                                        <p class="subject no-margin">{{ activity.title }}</p>
                                        <p class="body no-margin">
                                            {{ activity.summary }}
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}


                        {# 탭추가 #}
                        <a class="tab-creation" id="btnTabCreation" href="#"><i class="fa fa-plus"></i>&nbsp;탭추가</a>


                        {# 추가될 모달 #}
                        <div class="modal fade slide-up disable-scroll" id="modalTapCreation" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog ">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5>탭 <span class="semi-bold">추가하기</span></h5>
                    <p class="p-b-10">포트폴리오 내에 다양한 탭을 추가해보세요.</p>
                  </div>
                  <div class="modal-body">
                      {# TODO: action에 url 추가하기 #}
                    <form method="post" role="form" action="{% url 'portfolios:tab_create' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                      <div class="form-group-attached">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>탭제목</label>
{#                              <input type="email" class="form-control">#}
                                {{ tabCreationForm.title }}
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="row">
                      <div class="col-md-8">
                        <div class="p-t-20 clearfix p-l-10 p-r-10">
                          <div class="pull-left">
                            <p class="bold font-montserrat text-uppercase"></p>
                          </div>
                          <div class="pull-right">
                            <p class="bold font-montserrat text-uppercase"></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button type="submit" class="btn btn-primary btn-block m-t-5">탭 생성하기</button>
                      </div>
                    </div>
                    </form>

                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>



                    </div>
                </div>
              </div>
              <!-- END SPLIT LIST VIEW -->
                <!-- START SPLIT DETAILS -->
              <div class="split-details">
    {% block content %}

    {% endblock %}

      </div>
              <!-- END SPLIT DETAILS -->
            </div>
{% endblock %}



