{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content %}






    <div class="email-content-wrapper" style="">
                  <div class="email-content">
                    <div class="email-content-header">

                        <div class="content-left">
                            <div class="thumbnail-wrapper d50 circular">
                                <img width="40" height="40" alt="" data-src-retina="{% static 'assets/img/profiles/avatar2x.jpg' %}" data-src="{% static 'assets/img/profiles/avatar.jpg' %}" src="{% static 'assets/img/profiles/avatar2x.jpg' %}">
                            </div>
                        </div>

                        <div class="content-right">
                            <div class="sender inline m-l-10">
                                <p class="name no-margin p-t-5 bold">홍길동</p>

                                <p class="datetime no-margin">프로그래머</p>
                                <p class="datetime m-t-20">한줄프로필한줄프로필한줄프로필한줄프로필한줄프로필한줄프로필한줄프로필</p>
                                <p class="datetime no-margin"># 태그</p>
                            </div>
                        </div>

                        <hr>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="email-content-body m-t-20">


                    <div class="row">
                        <div class="col-sm-12 title">
                                <h4 class="semi-bold">선택된 프로필</h4>
                        </div>
                    </div>
                        <div class="fields-body">
                            {# 교육사항 #}
                            <div class="field">
                                <div class="row">
                                    {# 필드명 #}
                                    <div class="col-sm-12 field-title">
                                        <h5 class="semi-bold">교육사항</h5>
                                    </div>
                                </div>
                                {# 필드내용 #}
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-3">
                                            한양대학교
                                        </div>
                                        <div class="col-sm-2">
                                            석사
                                        </div>
                                        <div class="col-sm-4">
                                            컴퓨터공학
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            2017.03~2018.03
                                        </div>
                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-3">
                                            한양대학교
                                        </div>
                                        <div class="col-sm-2">
                                            석사
                                        </div>
                                        <div class="col-sm-4">
                                            컴퓨터공학
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            2017.03~2018.03
                                        </div>
                                </div>
                            </div>
                            {# 연락처 #}
                            <div class="field">
                                <div class="row">
                                    {# 필드명 #}
                                    <div class="col-sm-12 field-title">
                                        <h5 class="semi-bold">연락처</h5>
                                    </div>
                                </div>
                                {# 필드내용 #}
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-3">
                                            휴대폰
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            010-0000-0000
                                        </div>
                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-3">
                                            전화번호
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            02-0000-0000
                                        </div>
                                </div>
                            </div>
                            {# 주소 #}
                            <div class="field">
                                <div class="row">
                                    {# 필드명 #}
                                    <div class="col-sm-12 field-title">
                                        <h5 class="semi-bold">주소</h5>
                                    </div>
                                </div>
                                {# 필드내용 #}
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-3">
                                            실주소
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            서울시
                                        </div>

                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-3">
                                            활동주소
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            서울시
                                        </div>

                                </div>
                            </div>
                            {# 웹사이트 #}
                            <div class="field">
                                <div class="row">
                                    {# 필드명 #}
                                    <div class="col-sm-12 field-title">
                                        <h5 class="semi-bold">웹사이트</h5>
                                    </div>
                                </div>
                                {# 필드내용 #}
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-behance">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-codepen">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>

                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-facebook-square">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>

                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-flickr">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-github">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-google-plus">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>
                                <div class="row field-content div-narrow">
                                        <div class="col-sm-1">
                                            <i class="fa fa-instagram">: </i>
                                        </div>
                                        <div class="col-sm-5">
                                            dribble.com/asda
                                        </div>
                                </div>




                            </div>
                        </div>




                        </div>


                    </div>

                  </div>
                </div>


{% endblock %}