/* Custom CSS */

/*==================================================================
pages.css 수정항목
================================================================== */

/* 레이아웃 왼쪽이동 조정 */
.inner-content {
    /* margin-left: -211px; */
    margin-left: 0;
}

/*------------------------------------------------------------------
리스트뷰 공통 스타일
 - 탭 글씨 크기 상향
------------------------------------------------------------------ */
/* 텍스트 한줄압축 */
.line-1 {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
/* 텍스트 두줄압축 */
.line-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* 리스트뷰 - 탭 글씨 */
.split-view .split-list .list-view-fake-header, .split-view .split-list .list-view-group-header {
    font-size: 13px !important;
    font-weight: bold;
}
/* 리스트뷰 - 탭 보조 아이콘(액티비티 쓰기) */



/*------------------------------------------------------------------
리스트뷰 프로필 항목
 - 이름(recipients): 고정 1줄 (non-edit)
 - 한줄 프로필(subject): 최대 2줄
 - 부가항목(body): 고정 1줄
------------------------------------------------------------------ */
/* subject 최대 2줄 */
.split-view .split-list .list-profile .item .subject {
    height: auto;
    max-height: 38px;

}
/* body 고정 1줄 수정 */
.split-view .split-list .list-profile .item .body {
    height: auto;
}

/*------------------------------------------------------------------
리스트뷰 일반 항목
 - 날짜(recipients): 고정 1줄 (non-edit)
 - 제목(subject): 고정 1줄
 - 요약(body): 최대 2줄
------------------------------------------------------------------ */

/* subject 고정 1줄 수정 */
.split-view .split-list .list-activity .item .subject {
    height: auto;
    -webkit-line-clamp: 1;
}
/* body 최대 2줄 수정 */
.split-view .split-list .list-activity .item .body {
    height: auto;
    max-height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
}
/*------------------------------------------------------------------
리스트뷰 반응형 크기조정
  @ 481px 이상:
    * inline picture 버젼 : 404px
    * inline normal 버젼  : 451px
  @ 768px 이상:
    * inline picture 버젼 : 691px
    * inline normal 버젼  : 738px
  @ 980px 이상:
    * inline picture 버젼 : 282px
    * inline normal 버젼  : 329px
------------------------------------------------------------------ */

@media (min-width: 481px) {
/* @ 481px 이상 picture */
    .split-view .split-list .list-profile .item .inline.picture {
        /* 481-30-15-32 = 404px */
        margin-left: 15px;
        width: 404px;
    }
/* @ 481px 이상 normal */
    .split-view .split-list .list-activity .item .inline.normal {
        margin-left: 0px;
        /* 481-30 = 451px */
        width: 451px;
    }
}
@media (min-width: 768px) {
/* @ 768px 이상 picture */
    .split-view .split-list .list-profile .item .inline.picture {
        /* 768-30-15-32 = 691px */
        margin-left: 15px;
        width: 691px;
    }
/* @ 768px 이상 normal */
    .split-view .split-list .list-activity .item .inline.normal {
        margin-left: 0px;
        /* 768-30 = 738px */
        width: 738px;
    }
}
@media (min-width: 980px) {
/* @ 980px 이상 picture */
    .split-view .split-list .list-profile .item .inline.picture {
        /* 일반모드 */
        /* 329-15-32 = 282px */
        margin-left: 15px;
        width: 282px;
    }
/* @ 980px 이상 normal */
    .split-view .split-list .list-activity .item .inline.normal {
        /* 일반모드 */
        margin-left: 0px;
        width: 329px;
    }
}
/*------------------------------------------------------------------
액티비티 뷰
------------------------------------------------------------------ */
.activity-content-wrapper {
      background-color: #f6f9fa;
}

/*------------------------------------------------------------------
탭뷰
------------------------------------------------------------------ */
/* 탭뷰 카드 액티비티 날짜표시 */
.tab .card .card-header {
    padding: 20px 20px 5px 20px;
    min-height: 25px;
    color: #7a8994;
    opacity: 07;
}
/* 탭뷰 카드 액티비티 제목 */
.tab .card .card-block h3 {
    margin-top: 0px;
}








/*------------------------------------------------------------------
light.css의 [20. Email App]부분을 Activity App으로 바꿈.
*/
/* Email Components
--------------------------------------------------
*/

.split-view .split-details .activity-content-wrapper {
  height: 100%;
  width: auto;
  overflow: auto;
}
.split-view .split-details .activity-content-wrapper .actions-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 799;
}
/* custom 생성. 액티비티 뷰 백그라운드를 위함. */
.split-view .split-details .activity-content-wrapper .activity-content-background {
  background: #fff;
  border-bottom: 1px solid rgba(234, 236, 238, 0.7);
  height: 100%;
}

.split-view .split-details .activity-content-wrapper .activity-content {
  margin: 0 auto;
  width: 600px;
  display: block;
  padding-top: 62px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

/* activity content 제목 */
.split-view .split-details .activity-content-wrapper .activity-content .activity-content-header .upper-header .title p {
  font-size: 35px;
  line-height: 40px;
  color: #47525e;
}
.split-view .split-details .activity-content-wrapper .activity-content .activity-content-header .upper-header .datetime {
  color: #7a8994;
  opacity: .45;
  font-family: arial;
  font-size: 14px;
}
    /* activity 프로젝트 기간 */
    .datetime .projected {
        float: left;
    }
    /* activity 최종 업데이트 시간 */
    .datetime .updated {
        float: right;
    }

/* activity 요약 */
.split-view .split-details .activity-content-wrapper .activity-content .activity-content-header .abstract p {
  font-family: arial;
  color: #47525e;
  font-size: 17px;
  line-height: 30px;
}
/* activity 상세글 */
.split-view .split-details .activity-content-wrapper .activity-content .activity-content-body p {
  font-size: 17px;
  line-height: 30px;
  color: #7a8994;
  letter-spacing: 0.001em;
}
.split-view .split-details .activity-content-wrapper .activity-content .activity-reply {
  min-height: 200px;
}
.split-view .split-details .activity-content-wrapper activity-content .editor-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.split-view .split-details .activity-content-wrapper .activity-content .editor-wrapper .wysihtml5-sandbox {
  max-height: 150px;
  min-height: 130px !important;
  width: 100% !important;
}
/* activity App Top Header
--------------------------------------------------
*/
.header-wrapper-activity {
  font-size: 14.92px;
}
.header-wrapper-activity .dropdown > .btn {
  color: #00e8ba;
}
.header-wrapper-activity .btn:hover {
  text-decoration: none;
}
/* Responsive Handler : Email App
--------------------------------------------------
*/
