<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SimpleCV - CV Template">
    <meta name="keywords" content="HTML5,CSS3,CV,simple,curriculum vitae,animated,animation,about,contacts,recent work,flat,modern,page,responsive,inspire,inspire.by,template">
    <meta name="author" content="inspire.by">

    <title>Masha UI/UX Designer CV Education</title>

    <link rel="stylesheet" href="css/main.css">

    <link rel="shortcut icon" href="pic/favicon.ico" type="image/x-icon">

    <!--FONT-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

</head>

<body>

    <div class="frame-scroll"></div>
    <div class="frame-scroll-top"></div>
    <div class="frame-scroll-bottom"></div>

    <div class="container-scroll">

        <!--MOBILE NAVIGATION-->

        <div id="id-mobile-nav" class="mobile-nav">

            <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>

            <nav class="mobile-nav-links">
                <a href="index.html">home</a>
                <a href="about.html">about</a>
                <a href="recent.html">recent works</a>
                <a href="experience.html">experience</a>
                <a href="skills.html">skills</a>
                <a href="contacts.html">contacts</a>
            </nav>

            <div class="icons-mobile-nav-footer">
                <a class="icon-linkedin-white" href="#"></a>
                <a class="icon-behance-white" href="#"></a>
                <a class="icon-dribble-white" href="#"></a>
                <a class="icon-upwork-white" href="#"></a>
            </div>

        </div>

        <div class="icon-mobile-nav" onclick="openNav()">
            <div class="element-icon-nav"></div>
            <div class="element-icon-nav"></div>
            <div class="element-icon-nav"></div>
        </div>

    <!--MAIN CONTENT-->

        <a href="index.html" class="photo-min"></a>

        <div class="icons-min">
            <a class="icon-linkedin" href="#"></a>
            <a class="icon-behance" href="#"></a>
            <a class="icon-dribble" href="#"></a>
            <a class="icon-upwork" href="#"></a>
        </div>

        <section class="main-section">
            <h2>Masha</h2>
            <h2>Thompson</h2>
            <h3>education</h3>
            <h3>&certificates</h3>
            <a class="cv-button" href="resume/resume_template.docx">CV</a>
            <div class="text-education">
                <div class="edu">
                    <div class="icon-edu"></div>
                    <div class="edu-text">
                        <h4>BSc Psychology & Biology</h4>
                        <p>Yale University</p>
                        <p>New Haven, Connecticut, U.S.</p>
                        <p>2001-2005</p>
                    </div>
                </div>
                <div class="cert">
                    <div class="icon-cert"></div>
                    <div class="cert-text">
                        <h4>Visual design</h4>
                        <p>College of Art And Design</p>
                        <p>online</p>
                        <p>2007-2008</p>

                        <h4>German</h4>
                        <p>Goethe Institut</p>
                        <p>Munich, Germany</p>
                        <p>2005-2006</p>

                        <h4>HTML/CSS (basic)</h4>
                        <p>EPIX Systems internal training</p>
                        <p>Newtown, Pennsylvania, U.S.</p>
                        <p>2012</p>

                        <h4>German with native speaker</h4>
                        <p>EPIX Systems internal training</p>
                        <p>Newtown, Pennsylvania, U.S.</p>
                        <p>2013</p>

                        <h4>Commercial Fashion Illustration</h4>
                        <p>online</p>
                        <p>2016</p>
                    </div>
                </div>
            </div>
        </section>

        <nav class="buttons-min">
            <a href="recent.html">recent works</a>
            <a href="about.html">about</a>
            <a href="experience.html">experience</a>
            <a href="skills.html">skills</a>
            <a href="contacts.html">contacts</a>
        </nav>

    </div>


    <script>
            function openNav() {
            document.getElementById("id-mobile-nav").style.width = "90%";
            }

            function closeNav() {
            document.getElementById("id-mobile-nav").style.width = "0";
            }
    </script>

</body>
</html>